{% extends "base.html" %}
{% block title%}
Create Table
{% endblock %}

{% block content %}
<div class="card border-success mb-3 mx-auto my-5" style="max-width: 50%">
    <div class="card-header"><h2 class="text-center text-success">Create Table</h2></div>
    <div class="card-body">
        <div class="row mx-auto" style="max-width: 50%">
            <div class="h4 col-auto text-secondary">Number of Columns</div>
            <form method ="POST" class="col" id="change_col" name="change_col">
                {% csrf_token %}
                <input type="number" class="form-control" maxlength="2" size="2" id="no_col" name="no_col" value="{{no_col}}">
                <br>
            </form>
        </div>
        <form method ="POST" class="my-2">
            {% csrf_token %}
            <div class="row mx-auto" style="max-width: 70%">
            <div class="h4 text-secondary col-auto ">Table name</div>
            <input type="text" class="col form-control" name="table_name"><br>
            </div>
            <table class="table table-hover my-4">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Column Name</th>
                        <th>Column Datatype</th>
                        <th>Primary Key</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range_col %}
                    <tr class="text-center">
                        <td>
                            <b class="col">Column {{i}}</b>
                        </td>
                        <td>
                            <input type="text" class="col-auto form-control" name="n{{i}}" required>
                        </td>
                        <td>
                            <select class="col-auto form-control" name="d{{i}}" required>
                                <option value="String">String</option>
                                <option value="Number">Number</option>
                                <option value="Boolean">Boolean</option>
                                <option value="Email">Email</option>
                                <option value="Datetime">Datetime</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-check form-switch col-auto">
                                <input class="form-check-input mx-auto mt-2" type="radio" name="primary" value="{{i}}" required>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
            <div class="text-center"><button class="btn btn-outline-success my-2 py-2 px-4" name="create"><i class="fa fa-plus"></i> Create Table</button></div>
            
        </form>

    </div>
</div>
<h3 class="text-danger text-center">{{error}}</h3>
{% if data%}
    <h3 class="text-success text-center">Table "{{data_tablename}}" Created Successfully</h3>
    <table class="table table-bordered mx-auto" style="max-width: 50%">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>Data type</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                {% for i in x %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script type="text/javascript">
    $(function(){
        $('#no_col').change(function(){
            $('#change_col').submit();
        });
    });
</script>

{% endblock %}