{% extends "base.html" %}
{% block title%}
Create Table
{% endblock %}

{% block content %}
<br><br>
<div class="card border-dark mb-3 mx-auto" style="max-width: 50%">
    <div class="card-header"><h2 class="text-center">Create Table</h2></div>
    <div class="card-body">
        <div class="row offset-md-2">
            <div class="h4 col">Number of Columns</div>
            <form method ="POST" class="col" id="change_col" name="change_col">
                {% csrf_token %}
                <input type="number" maxlength="2" size="2" id="no_col" name="no_col" value="{{no_col}}">
                <br>
            </form>
        </div>
        <hr>
        <form method ="POST" class="my-2">
            {% csrf_token %}
            <div class="row offset-md-2">
            <div class="h4 col-3">Table name</div>
            <input type="text" class="col-7" name="table_name"><br>
            </div>
            <hr>
            {% for i in range_col %}
            <div class="row my-2 mx-2">
                <b class="col">Column {{i}}</b>
                Name
                <input type="text" class="col-auto mx-2" name="n{{i}}" required>
                Datatype
                <select class="col-auto mx-2" name="d{{i}}" required>
                    <option value="String">String</option>
                    <option value="Number">Number</option>
                    <option value="Boolean">Boolean</option>
                    <option value="Email">Email</option>
                    <option value="Datetime">Datetime</option>
                </select>
                Primary Key
                <input type="radio" class="col-auto form-check-input mx-2" name="primary" value="{{i}}" required>
            </div>
            {% endfor %}
            <hr>
            <div class="text-center"><button class="btn btn-success my-2 py-2 px-4" name="create">Create Table</button></div>
            
        </form>

    </div>
</div>
<h3 class="text-danger text-center">{{error}}</h3>
{% if data%}
    <h3 class="text-success text-center">Table "{{data_tablename}}" Created Successfully</h3>
    <table class="table table-bordered mx-auto" style="max-width: 50%">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>Data type</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                {% for i in x %}
                    <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script type="text/javascript">
    $(function(){
        $('#no_col').change(function(){
            $('#change_col').submit();
        });
    });
</script>

{% endblock %}