{% extends "base.html" %}
{% block title%}
Delete Table
{% endblock %}

{% block content %}
<div class="card border-danger mb-3 mx-auto my-5" style="max-width: 50%">
    <div class="card-header"><h2 class="text-center text-danger">Delete Table</h2></div>
    <div class="card-body">
        <form method ="POST" class="my-2">
            {% csrf_token %}
            <div class="row mx-auto" style="max-width: 70%">
                <div class="h4 text-secondary col-auto ">Table name</div>
                <input type="text" class="col form-control" name="table_name" list="tables"><br>
                
                <datalist id="tables">
                    {% for t in tables %}
                        <option value="{{t}}">{{t}}</option>
                    {% endfor %}
                </datalist>

            </div>
            <div class="text-center"><button class="btn btn-outline-danger mt-4 py-2 px-4" name="delete"><i class="fa fa-trash"></i> Delete Table</button></div>
        </form>
    </div>
</div>
<h3 class="text-success text-center">{{message}}</h3>
<h3 class="text-danger text-center">{{error}}</h3>
{% endblock %}