{% extends "base.html" %}
{% block title%}
Welcome
{% endblock %}

{% block content %}
<div class="card border-danger mb-3 mx-auto my-5" style="max-width: 50%">
    <div class="card-body">
        <h1 class="text-center text-primary mt-5">
            Welcome To Dynamic Tables 2022
        </h1>
        <div class="h4 text-center text-secondary mt-4">
            An App Where Users Can Create Dynamic Tables
            <br>
            To Collect All User Data And Manage Them
        </div>
        <div class="h4 text-center text-info my-5">
            Press Login for Getting Started
        </div>
    </div>
</div>

{% endblock %}