{% extends "base.html" %}
{% block title%}
Insert Data
{% endblock %}

{% block content %}
<div class="card border-primary mb-3 mx-auto my-5" style="max-width: 75%">
    <div class="card-header"><h2 class="text-center text-primary">Insert Data</h2></div>
    <div class="card-body">
        <form method ="POST" class="my-2" id="select_table">
            {% csrf_token %}
            <div class="row mx-auto" style="max-width: 50%">
                <div class="h4 text-secondary col-auto ">Table name</div>
                <select id="tables" name="table_name" class="col form-select text-center" onchange="this.form.submit()">
                    <option selected disabled>--Select Table--</option>
                    {% for t in tables %}
                        <option value="{{t}}" {% if t == table_name %} selected {% endif %}>{{t}}</option>
                    {% endfor %}
                </select> <br>  
            </div>
        {% if struct%}
            <table class="table table-borderless mx-auto" style="max-width: 50%">
                <thead>
                    <tr class="text-center">
                        <th>Column</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n,d in struct.items %}
                    <tr>
                        <td class="text-center">
                            <div class="{% if n == primary %}text-danger{% endif %}">{{n}}</div>
                        </td>
                        <td>
                            {% if d == "text" %}
                                <input type="text" class="form-control" name="{{n}}%{{d}}" required> 
                            {% elif d == "integer" %}
                                <input type="number" class="form-control" name="{{n}}%{{d}}" required>
                            {% elif d == "boolean" %}
                                <select class="form-select" name="{{n}}%{{d}}" required>
                                    <option value="TRUE">TRUE</option>
                                    <option value="FALSE">FALSE</option>
                                </select>
                            {% elif d == "date" %}
                                <input type="date" class="form-control" name="{{n}}%{{d}}" required>
                            {% endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center"><button class="btn btn-outline-primary py-2 px-4" name="insert"><i class="fa fa-plus"></i> Insert Data</button></div>
        </form>
        {% endif %}
    </div>
</div>
<h3 class="text-center text-success">{{message}}</h3>
<h3 class="text-danger text-center">{{error}}</h3>
{% if data%}
    <table class="table table-bordered mx-auto" style="max-width: 75%">
        <thead>
            <tr class="text-center">
                {% for n,d in struct.items %}
                    <th>
                        {{n}}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in data %}
                <tr class="text-center">
                    {% for c in r %}
                        <td>{{c}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endif %}
{% endblock %}